body {
  color: rgb(47,79,79);
}
#left-panel {
  position: fixed;
  float: left;
  width: 15%;
  height: 98%;
  overflow-y: auto;
}
#left-panel a {
  display: block;
  width: 98%;
  padding: 2% 1% 2% 1%;
  color: rgb(47,79,79);
  text-decoration: none;
}
#left-panel a:hover {
  color: white;
  background-color: rgb(47,79,79);
}
#left-panel .link-to-subsection {
  width: 92%;
  padding-left: 7%;
}
#left-panel h2 {
  padding: 0px;
}
#main-body {
  padding-left: 1%;
  float: right;
  width: 84%;
}
.section-break {
  counter-reset: section;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.section-wrapper {
  box-shadow: -5px 5px 5px gray;
  padding: 0px 5px 5px 5px;
  margin: 0 0 10px 0;
  background: rgba(47,79,79,0.15);
}
@media (max-width: 500px) {
  .section-wrapper {
    margin: 0px;
  }
}
h1, h2, h3 {
  margin: 0px;
  padding: 10px;
}
.section-number {
  text-decoration: none;
}
.section-wrapper > div:first-of-type .section-number {
  position: relative;
  top: 0px;
  left: -5px;
  float: left;
  background-color: rgb(47,79,79);
  color: white;
}
.section-wrapper .section-number:first-of-type h2::before {
  counter-increment: section;
  content: counter(section);
}
.section-wrapper > div:first-of-type > h2 {
  clear: right;
}
.section-body {
  counter-reset: subsection;
  padding-left: 5%;
}
.section-body .section-number {
  padding-left: 0px;
}
.section-body .section-number::before {
  color: rgb(47,79,79);
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}
.subsection {
  padding-left: 5%;
}
pre.two-code code {
  display: block;
}
